[submodule "kicad-libraries"]
	path = kicad-libraries
	url = https://github.com/rusefi/kicad-libraries
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/rusefi/ChibiOS
	branch = stable_20.3.x.rusefi
[submodule "GDI-4ch/hellen-one"]
	path = GDI-4ch/hellen-one
	url = https://github.com/andreika-git/hellen-one
[submodule "ext/openblt"]
	path = ext/openblt
	url = https://github.com/rusefi/openblt
[submodule "ext/hellen-one"]
	path = ext/hellen-one
	url = https://github.com/andreika-git/hellen-one
